@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Passions+Conflict&family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    body {
        font-family: 'Roboto Slab',serif;
    }
}