.redes {
    display: flex;
    justify-content: center;
    height: 10rem;
}

.centrado{
    display: flex;
    justify-content: center;
    height: 10rem;
}

.redes2{
    display: flex;
    justify-content: center;
    height: 3rem;
    margin-top: 10rem;
}

