$text-color-1: rgb(67, 40, 163); 
$text-color-2: brown;
$text-color-3: rgb(104, 37, 55);
$text-color-4: rgba(77,67,67,0.75);
$text-color-5: antiquewhite;
$text-color-6: rgba(0, 0, 0, 0.267);
$text-color-7: white;
$text-color-8: black;
$text-color-9: crimson;
$text-color-10: rgb(132, 0, 255);
$text-color-11: rgb(202, 132, 27);
$text-color-12: burlywood;

